.detailThumbnail{
    position: relative; 
    padding-top: 75%; /* 4:3 ratio */ 
    overflow: hidden;
}

.detailThumbnail .centered{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}

.detailThumbnailImg{
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto;
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}  
.detailThumbnailImg.portrait{
    width:100%;
    height:auto;
  }
.detailThumbnailImg.landscape{
    width:auto;
    height: 100%;
}

.de_profile{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: -45px;
}

.ptdGroup::after{
    content: "";
    display: block;
    clear: both;
}

.ptdGroup{
    padding: 0 59px;
}

.ptd{
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

.stepnum{
    width: 30px;
    height: 30px;
    border:1px solid mediumblue;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color:white;
    background-color: mediumblue;
    margin: 10px;
    float: left;
}

.stepnc::after{
    content: "";
    display: block;
    clear: both;
}

.shareclosebtn{
    width: 25px;
    position: absolute;
    right: 10px;
}

