.de_profile{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid black;
    background-color: yellow;
    position: absolute;
    left: 135px;
    top: -40px;
}

.ptdGroup::after{
    content: "";
    display: block;
    clear: both;
}

.ptdGroup{
    padding: 0 55px;
}

.ptd{
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

.stepnum{
    width: 30px;
    height: 30px;
    border:1px solid mediumblue;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color:white;
    background-color: mediumblue;
    margin: 10px;
    float: left;
}

.stepnc::after{
    content: "";
    display: block;
    clear: both;
}