.chefbox{
    border-top: 1px solid #cfcfcf;
    margin-top: 20px;
    padding: 20px 10px;
}

.chefbox::after{
    content:"";
    display: block;
    clear: both;
}

.chef-recipebox{
    width: 150px;
    float: left;
    margin: 0 8px;
}

.followCenterWrapper{
    width: 150px;
    margin-bottom: 5px;    
	}
	
.followCenter{
	position: relative; 
	padding-top: 75%; /* 4:3 ratio */ 
	overflow: hidden;
}
.followCenter .centered{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	-webkit-transform: translate(50%,50%); 
	-ms-transform: translate(50%,50%); 
	transform: translate(50%,50%);
}

.followCenter .centered img{
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}
		
.followCenter .centered img.portrait { 
	width: 100%; 
	height: auto; 
}
		
.followCenter .centered img.landscape { 
	width: auto; 
	height: 100%; 
}