@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
.open{
 display: inline;
}

.close{
    display: none;
   }

.refclose{
    display: inline;
}

.refopen{
    display: none;
}

.refribox{
    width: 140px;
    overflow: hidden;
    position: absolute;
    left: 230px;
    top: 480px;
    cursor: pointer;
    float: left;
}

.refribox::after{
    content:"";
    display: block;
    clear: both;
}

#homeRef_delete{
    position: relative;
    z-index: 2;
    top: -105px;
    left: 50px;
    margin-left: -25px;
}

#homeRefSmall_delete{
    position: relative;
    z-index: 2;
    top:5px;
}