

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #ffe600;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
  overflow: scroll;
  z-index: 99;
  padding-top: 40px;
}

#flyoutMenu.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu h2 {
  margin-top: 100px;
}
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
  margin-left: 180px;
}

#flyoutMenu h2 a:hover {
  color: blue;
}
.hamburger-react {
  z-index: 100;
  float: right;
}

#headgroup::after{
  content: "";
  display: block;
  clear: both;
}

ul li{
  list-style: none;
  font-size: 20pt;
}

ul li a {
  text-decoration: none;
}