@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: 200,300,400,500,600; font-style: normal; }
.myinfoEmail{
  font-size: 14pt;
  font-weight: 400;
  color: #f0f0f0;
}

.myinfoEmailbox{
  background-color: #002060;
  width: 320px;
  border-radius: 10px;
  padding: 40px 10px;
}

.profileCenterWrapper{
  width: 120px;
  height: 120px;
  margin: 20px 0;
}

.profileCenter{
  position: relative; 
  padding-top: 100%; /* 1:1 ratio */ 
  overflow: hidden;
  border-radius: 120px;
}
.profileCenter .centered{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  -webkit-transform: translate(50%,50%); 
  -ms-transform: translate(50%,50%); 
  transform: translate(50%,50%);
}
.profileCenterImg{
  position: absolute; 
  top: 0; 
  left: 0; 
  max-width: 100%;
  height: auto;
  -webkit-transform: translate(-50%,-50%); 
  -ms-transform: translate(-50%,-50%); 
  transform: translate(-50%,-50%);
}

.profileCenterImg.portrait { 
  width: 100%; 
  height: auto; 
}

.profileCenterImg.landscape { 
  width: auto; 
  height: 100%; 
}

/* 댓글창 */
.commentCenterWrapper{
width: 100px;
float: right;
margin-top: -10px;
margin-right: 5px;
}
.commentCenter{
position: relative; 
padding-top: 75%; /* 4:3 ratio */ 
overflow: hidden;
}
.commentCenter .centered{
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
-webkit-transform: translate(50%,50%); 
-ms-transform: translate(50%,50%); 
transform: translate(50%,50%);
}
.commentCenter .centered img{
position: absolute; 
top: 0; 
left: 0; 
max-width: 100%;
height: auto;
-webkit-transform: translate(-50%,-50%); 
-ms-transform: translate(-50%,-50%); 
transform: translate(-50%,-50%);
}

.commentCenter .centered img.portrait { 
width: 100%; 
height: auto; 
}

.commentCenter .centered img.landscape { 
width: auto; 
height: 100%; 
}