@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }
.rankIcon{
	display: inline;
	padding: 5px 5px;
}

.rankIconImg{
	vertical-align: middle;
	color: #aaaaaa;
}

.rankIconText{
	vertical-align: middle;
	font-size: 12pt;
	color: #aaaaaa;
	margin-left: 3px;
}

.rankingCenterWrapper{
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
  }
  
  .rankingCenter{
	position: relative; 
	padding-top: 100%; /* 1:1 ratio */ 
	overflow: hidden;
	border-radius: 70px;
  }
  .rankingCenter .centered{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	-webkit-transform: translate(50%,50%); 
	-ms-transform: translate(50%,50%); 
	transform: translate(50%,50%);
  }
  .rankingCenter .centered img{
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
  }
  
  .rankingCenter .centered img.portrait { 
	width: 100%; 
	height: auto; 
  }
  
  .rankingCenter .centered img.landscape { 
	width: auto; 
	height: 100%; 
  }

.chefTitle{
	font-weight: 500;
	font-size: 18pt;
	font-style: italic;
	margin: 10px 5px 20px;
  }
.rankingTitle{
	font-family: 'InkLipquid';
	font-size: 24pt;
	font-style: italic;
	vertical-align: middle;
}

#rankingFollowbtn{
	color: #ffffff;
	font-size: 9pt;
	font-weight: 200;
	background-color: #002060;
	opacity: 80%;
	margin-left: 5px;
	padding: 3px 13px;
	border-radius: 7px;
	vertical-align: middle;
}

#rankingUnfollowbtn{
	color: #ffffff;
	font-size: 9pt;
	font-weight: 200;
	background-color: #002060;
	opacity: 40%;
	margin-left: 5px;
	padding: 3px 7px;
	border-radius: 7px;
	vertical-align: middle;
}

#rankingScore{
	font-size: 10pt;
	font-weight: 400;
	margin-left: 93px;
	top:15px;
	position: relative;
	font-style: italic;
}