@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: small;
}

.inputwriteform {
  width: 200px;
}
.selectcate{
  width: 140px;
}
.selectwrite {
  width: 100px;
}

.inputingre {
  width: 150px;
}

.subtext {
  font-weight: 200;
  display: inline;
}
.cookImg {
  width: 110px;
  height: 110px;
  margin-left: 20px;
  display: inline;
  margin-top: 30px;
}
#profileImg_delete {
  cursor: pointer;
  display: inline;
  position: relative;
  zindex: 2;
  top: -70px;
  left: -10px;
}

.all_title{
  position: absolute;
  margin-left: 9px;
}